@page "/Modifier/{ClientId:int}"
@using Miniprojet.Shared.Entites
@inject NavigationManager Navigation

<PageTitle>Modifier Client</PageTitle>
<h3>Modifier Client</h3>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">


            <EditForm Model="client" OnInvalidSubmit="Update" class="shadow p-4">
                <div class="mb-3">
                    <label for="RaisonSociale">RaisonSociale</label>
                    <InputText type="text" class="form-control" name="RaisonSociale" id="RaisonSociale" placeholder="RaisonSociale" @bind-Value="client.RaisonSociale"></InputText>
                </div>

                <div class="mb-3">
                    <label for="Description">Description</label>
                    <InputTextArea type="text" class="form-control" name="Description" id="Description" placeholder="Description" @bind-Value="client.Description">
                    </InputTextArea>

                </div>
                <div class="mb-3">
                    <label for="Adresse1">Adresse1</label>
                    <InputText type="text" class="form-control" name="Adresse1" id="Adresse1" placeholder="Adresse1" @bind-Value="client.Adresse1"></InputText>
                </div>
                <div class="mb-3">
                    <label for="Adresse2">Adresse2</label>
                    <InputText type="text" class="form-control" name="Adresse2" id="Adresse2" placeholder="Adresse2" @bind-Value="client.Adresse2"></InputText>
                </div>
                <div class="mb-3">
                    <label for="CodePostal">CodePostal</label>
                    <InputText type="text" class="form-control" name="CodePostal" id="CodePostal" placeholder="CodePostal" @bind-Value="client.CodePostal"></InputText>
                </div>
                <div class="mb-3">
                    <label for="Ville">Ville</label>
                    <InputText type="text" class="form-control" name="Ville" id="Ville" placeholder="Ville" @bind-Value="client.Ville"></InputText>
                </div>
                <div class="mb-3">
                    <label for="Pays">Pays</label>
                    <InputText type="text" class="form-control" name="Pays" id="Pays" placeholder="Pays" @bind-Value="client.Pays"></InputText>
                </div>
                <div class="mb-3">
                    <label for="TelephoneSecreteriat">TelephoneSecreteriat</label>
                    <InputText type="text" class="form-control" name="TelephoneSecreteriat" id="TelephoneSecreteriat" placeholder="TelephoneSecreteriat" @bind-Value="client.TelephoneSecreteriat"></InputText>
                </div>
                <div class="mb-3">
                    <label for="ImageUrl">ImageUrl</label>
                    <InputText type="text" class="form-control" name="ImageUrl" id="ImageUrl" placeholder="ImageUrl" @bind-Value="client.ImageUrl"></InputText>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" @onclick="Update">Modifier</button>
                </div>

                <hr>
            </EditForm>

        </div>
    </div>
</div>


@code {
    [Inject]
    public HttpClient _httpclient { get; set; }

    public Clients client = new Clients();
    [Parameter]
    public int ClientId { get; set; }
    protected override async Task OnInitializedAsync()
    {

        client = await _httpclient.GetFromJsonAsync<Clients>($"api/Client/{ClientId}");


    }
    public async Task Update()
    {
        var result = await _httpclient.PutAsJsonAsync($"api/Client/{ClientId}", client);

        if (result.IsSuccessStatusCode)
        {
            // Optionally, display a success message or redirect to another page
            Console.WriteLine("Client updated successfully");
            Navigation.NavigateTo("/ListClients");
        }
        else
        {
            // Handle the case when client update fails (log, display error, etc.)
            Console.WriteLine($"Failed to update client. Status code: {result.StatusCode}");
        }
    }
}